<nb-card>
    <nb-card-header>
        Edit
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="name">Name: </label>
                  <input
                          type="text"
                          class="form-control"
                          id="name"
                          formControlName="name"
                          required>
              </div>
              <div>
                  <label for="date">Date: </label>
                <ng-datepicker formControlName="date" [options]="options"></ng-datepicker>
              </div>
              <div class="button-container">
                <div class="container-btn">
                  <button class="btn btn-success" type="submit" id="savebutton" [disabled]="!editForm.valid">Save</button>
                </div>
                <div class="container-btn">
                  <button class="btn btn-danger" (click)="onCancel()" id="cancelbutton">Cancel</button>
                </div>
              </div>
      </form>
    </nb-card-body>
  </nb-card>
  
