<nb-card>
  <nb-card-header>
    <div class="header-container">
      <div class="week-title">{{weekTitle}}</div>
      <div class="nav-button-container">
        <button class="btn btn-success" (click)="previousWeek()">Previous</button>
        <button class="btn btn-success" (click)="nextWeek()">Next</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table _ngcontent-c35="" class="table table-bordered">
      <thead>
        <tr class="">
          <th class="week-header">Weekdays</th>
          <th colspan="7">Tasks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Sunday</th>
          <td>
            <div>
              <div *ngFor="let task of sun">
                <nb-checkbox [value]="checkStatus(task)" [nbPopover]="poopover" nbPopoverMode="hover" (change)="checkboxChange(task, $event)"></nb-checkbox>
                <ng-template #poopover>
                  <div>Name: {{task.name}}</div>
                  <div>Date: {{task.date | date : "dd.MM.y" }}</div>
                  <div>Status: {{task.taskStatus}}</div>
                  <button class="btn btn-success " (click)="edit(task)">Edit</button>
                  <button class="btn btn-danger " (click)="delete(task)">Delete</button>
                </ng-template>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Monday</th>
          <td>
            <div>
              <div *ngFor="let task of mon">
                <nb-checkbox [value]="checkStatus(task)" [nbPopover]="poopover" nbPopoverMode="hover" (change)="checkboxChange(task, $event)"></nb-checkbox>
                <ng-template #poopover>
                  <div>Name: {{task.name}}</div>
                  <div>Date: {{task.date | date : "dd.MM.y" }}</div>
                  <div>Status: {{task.taskStatus}}</div>
                  <button class="btn btn-success " (click)="edit(task)">Edit</button>
                  <button class="btn btn-danger " (click)="delete(task)">Delete</button>
                </ng-template>
              </div>
            </div>
          </td>
        </tr>
        <tr>
        <th>Tuesday</th>
          <td>
            <div>
                <div *ngFor="let task of tue">
                    <nb-checkbox [value]="checkStatus(task)" [nbPopover]="poopover" nbPopoverMode="hover" (change)="checkboxChange(task, $event)"></nb-checkbox>
                    <ng-template #poopover>
                      <div>Name: {{task.name}}</div>
                      <div>Date: {{task.date | date : "dd.MM.y" }}</div>
                      <div>Status: {{task.taskStatus}}</div>
                      <button class="btn btn-success " (click)="edit(task)">Edit</button>
                      <button class="btn btn-danger " (click)="delete(task)">Delete</button>
                    </ng-template>
                  </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Wednesday</th>
          <td>
            <div>
                <div *ngFor="let task of wed">
                    <nb-checkbox [value]="checkStatus(task)" [nbPopover]="poopover" nbPopoverMode="hover" (change)="checkboxChange(task, $event)"></nb-checkbox>
                    <ng-template #poopover>
                      <div>Name: {{task.name}}</div>
                      <div>Date: {{task.date | date : "dd.MM.y" }}</div>
                      <div>Status: {{task.taskStatus}}</div>
                      <button class="btn btn-success " (click)="edit(task)">Edit</button>
                      <button class="btn btn-danger " (click)="delete(task)">Delete</button>
                    </ng-template>
                  </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Thursday</th>
          <td>
            <div>
                <div *ngFor="let task of thu">
                    <nb-checkbox [value]="checkStatus(task)" [nbPopover]="poopover" nbPopoverMode="hover" (change)="checkboxChange(task, $event)"></nb-checkbox>
                    <ng-template #poopover>
                      <div>Name: {{task.name}}</div>
                      <div>Date: {{task.date | date : "dd.MM.y" }}</div>
                      <div>Status: {{task.taskStatus}}</div>
                      <button class="btn btn-success " (click)="edit(task)">Edit</button>
                      <button class="btn btn-danger " (click)="delete(task)">Delete</button>
                    </ng-template>
                  </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Friday</th>
          <td>
            <div>
                <div *ngFor="let task of fri">
                    <nb-checkbox [value]="checkStatus(task)" [nbPopover]="poopover" nbPopoverMode="hover" (change)="checkboxChange(task, $event)"></nb-checkbox>
                    <ng-template #poopover>
                      <div>Name: {{task.name}}</div>
                      <div>Date: {{task.date | date : "dd.MM.y" }}</div>
                      <div>Status: {{task.taskStatus}}</div>
                      <button class="btn btn-success " (click)="edit(task)">Edit</button>
                      <button class="btn btn-danger " (click)="delete(task)">Delete</button>
                    </ng-template>
                  </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Saturday</th>
          <td>
            <div>
                <div *ngFor="let task of sat">
                    <nb-checkbox [value]="checkStatus(task)" [nbPopover]="poopover" nbPopoverMode="hover" (change)="checkboxChange(task, $event)"></nb-checkbox>
                    <ng-template #poopover>
                      <div>Name: {{task.name}}</div>
                      <div>Date: {{task.date | date : "dd.MM.y" }}</div>
                      <div>Status: {{task.taskStatus}}</div>
                      <button class="btn btn-success " (click)="edit(task)">Edit</button>
                      <button class="btn btn-danger " (click)="delete(task)">Delete</button>
                    </ng-template>
                  </div>
            </div>
          </td>
        </tr>
      </tbody>
  </table>
  <button class="btn btn-success" (click)="newTask()">New Task</button>
  </nb-card-body>
</nb-card>
