<nb-card>
  <nb-card-header>
    Dashboard
  </nb-card-header>
  <nb-card-body>
    <table _ngcontent-c35="" class="table table-bordered">
      <thead>
        <tr>
          <th>Weekdays</th>
          <th colspan="7">Tasks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Monday</th>
          <td>
            <table>
              <tbody>
                <tr>
                  <td *ngFor="let task of mon">
                      <nb-checkbox [value]="checkStatus(task)" [nbPopover]="poopover" nbPopoverMode="hover"></nb-checkbox>
                      <ng-template #poopover>
                          <div>Name: {{task.name}}</div>
                          <div>Date: {{task.date | date : "dd.MM.y" }}</div>
                          <div>Status: {{task.taskStatus}}</div>
                          <button class="btn btn-success">hahaha</button>
                      </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
        <th>Tuesday</th>
          <td>
            <table>
              <tbody>
                <tr>
                    <td *ngFor="let task of tue">
                        <nb-checkbox [value]="checkStatus(task)" nbPopover="Hello, how are you today?" nbPopoverMode="hover"></nb-checkbox>
                    </td>
                </tr>
              </tbody>    
            </table>
          </td>
        </tr>
        <tr>
          <th>Wednesday</th>
          <td>
            <table>
              <tbody>
                <tr>
                    <td *ngFor="let task of wed">
                      <nb-checkbox [value]="checkStatus(task)" nbPopover="Hello, how are you today?" nbPopoverMode="hover"></nb-checkbox>
                    </td>
                  </tr>
                </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th>Thursday</th>
          <td>
            <table>
              <tbody>
                <tr>
                    <td *ngFor="let task of thu">
                      <nb-checkbox [value]="checkStatus(task)" nbPopover="Hello, how are you today?" nbPopoverMode="hover"></nb-checkbox>
                    </td>
                  </tr>
                </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th>Friday</th>
          <td>
            <table>
              <tbody>
                <tr>
                    <td *ngFor="let task of fri">
                      <nb-checkbox [value]="checkStatus(task)" nbpopover="Hello, how are you today?" nbpopovermode="hover"></nb-checkbox>
                    </td>
                  </tr>
                </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th>Saturday</th>
          <td>
            <table>
              <tbody>
                <tr>
                    <td *ngFor="let task of sat">
                      <nb-checkbox [value]="checkStatus(task)" nbpopover="Hello, how are you today?" nbpopovermode="hover"></nb-checkbox>
                    </td>
                  </tr>
                </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th>Sunday</th>
          <td>
            <table>
              <tbody>
                <tr>
                    <td *ngFor="let task of sun">
                      <nb-checkbox [value]="checkStatus(task)" nbpopover="Hello, how are you today?" nbpopovermode="hover"></nb-checkbox>
                    </td>
                  </tr>
                </tbody>
            </table>
          </td>
        </tr>
      </tbody>
  </table>
  <button class="btn btn-success" (click)="newTask()">New Task</button>
  </nb-card-body>
</nb-card>
