<nb-card>
  <nb-card-header>
    header
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name: </label>
                <input
                        type="text"
                        class="form-control"
                        id="name"
                        formControlName="name"
                        required>
            </div>
            <div class="row">
              <!--dp-day-picker [(ngModel)]="date" [config]="datePickerConfig"></dp-day-picker-->
              <ng-datepicker formControlName="date" [options]="options"></ng-datepicker>
            </div>
            <div class="row">
              {{ createForm.value.date }}
            </div>
            <div class="row">
            <div class="container-btn">
                <button class="btn btn-success" type="submit" id="savebutton" [disabled]="!createForm.valid">Save</button>
            </div>
            <div class="container-btn">
                <button class="btn btn-danger" (click)="onCancel()" id="cancelbutton">Cancel</button>
            </div>
            </div>
    </form>
  </nb-card-body>
</nb-card>
