<nb-layout>
    <nb-layout-column>
        <div class="container">
            <div class="row">
                <h1>Semester at Glance</h1><br/>
                <p>Manage your time better!</p>
            </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <div class="btn btn-lg btn-success btn-home" (ng-click)="onIisg()">iisg accounts</div>
        </div>
        <div class="row">
            <div class="btn btn-lg btn-success btn-home" (click)="onLogin()">log in</div>
        </div>

    </nb-layout-column>
</nb-layout>
